<div class="modal fade" id="Login_mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog login_mod" role="document">
      <div class="modal-content login_mod-content">
        <div class="modal-header border-bottom-0" style="background: linear-gradient(to right, #172839, #647dad);color: white;">
          <h5 class="modal-title" id="exampleModalLabel"><i class="mdi mdi-account-plus" aria-hidden="true" style="padding: 5px;font-style: bold;font-weight: 900;"></i>Add student</h5>
          <button type="button" class="close" data-dismiss="modal" style="color: white;" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="applicationForm" name="Add_Student_form" id="Add_Student_form" action="/admin/login_modent/" onsubmit="return beforesubmit('add')" method="post" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3 col-md-4">
                <input type="number" step="any" name="amount" placeholder="Loan amount ($)">
              </div>
              <div class="col-lg-3 col-md-4">
                  <input type="text" name="purpose" placeholder="Purpose of loan">
              </div>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <div class="row" style="display: contents;text-align: center;">
              <div class="col-md-6">
                <input type="reset" class="btn btn-success" style="background-color: #0a4f9d;">
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-success" style="background: linear-gradient(to right, #46c35f, #2aa260);">Submit</button>    
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>